* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Tailles */
.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

/* Text + Font */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-family: "Alice", serif;
    font-size: 50px;
    margin: 20px 0px;
}

h2 {
    font-family: "Alice", serif;
    color: #4D3E9A;
    padding: 20px 0px;
}

h3 {
    font-family: "Alice", serif;
    padding: 10px 0px
}

a {
    text-decoration: none;
}

.black {
    color: black;
}

.black:hover {
    color: #4D3E9A;
}

.white {
    color: white;
}

.bgRed {
    background-color: red;
}

.noPuce {
    list-style: none;
}

/* Header */
header>nav {
    margin: auto;
}

header {
    padding: 10px 0px;
    background-color: rgba(155, 157, 159, 0.26);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    backdrop-filter: blur(6px);
}

.logo {
    width: 100px;
}

/* Nice (Hero) */
.sectionHero {
    height: 100vh;
    position: relative;
}

/* image en background qui fait 100% de la fenetre + ne se deforme pas */
.bgHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.divHero>p {
    font-size: 25px;
}

.alignHero {
    padding-left: 38px;
}

/* Services */
.sectionService {
    position: relative;
    top: -60px;
}

.carteViolette {
    background-color: #4d3e9a97;
    display: block;
    width: 23%;
    padding: 40px 0px;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

/* Sticky */
.partieGauche {
    width: 68%;
}

.carte {
    width: 100%;
}

.pCarte {
    background-color: #4d3e9a4f;
    backdrop-filter: blur(8px);
    padding: 15px 0px 15px 15px;
    position: relative;
    top: -50px;
}

.wCarte {
    width: 48%;
}

.partieDroite {
    width: 23%;

}

.aside {
    border: solid grey 2px;
    padding: 20px 0px 20px 40px;
    border-radius: 15px 0px 0px 15px;
    position: sticky;
    top: 100px;
}

.pp {
    padding: 10px 0px;
}

.ppd {
    padding: 5px 0px;
}

/* Visite Virtuelle */
iframe {
    width: 100%;
    height: 700px;
    padding: 10px 30px 50px 30px;
}

.txtAlign {
    text-align: center;
}

/* bouton top page + background image */
.filligrane{
    position: fixed;
    top: 50%;
    left: 100px;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.btnTopPage {
    position: fixed;

}

/* FOOTER */
footer {
    background-color: #4D3E9A;
}

.paddingFTopBot {
    padding: 50px 0px 30px 0px;
}

.paddingFTxt {
    padding: 10px 0px;
}

.paddingFLI{
    padding: 5px;

}